HomeAssistant/.**
HomeAssistant/home-assistant*
HomeAssistant/tts
HomeAssistant/blueprints/**
pihole/etc-pihole/list*
pihole/etc-pihole/adminpw.txt
pihole/etc-pihole/*.db*
pihole/etc-pihole/*.db
pihole/etc-pihole/logrotate
pihole/etc-pihole/migration_backup
pihole/etc-pihole/dhcp.leases
pihole/etc-pihole/*.bak
pihole/etc-pihole/versions
proxy/data/keys.json
proxy/data/*.sqlite
proxy/data/logs**
traefik/certs/**
traefik/log/**
